<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Restablecer Contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioRestablecer">
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input type="password" formControlName="nuevaContraseña"></ion-input>
          </ion-item>
          <div class="button-container">
            <ion-button class="custom-gray-button" (click)="volverALogin()">Volver</ion-button>
            <ion-button class="custom-primary-button" (click)="restablecerContrasena()">Restablecer</ion-button>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
