<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Perfil del Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-image">
    <ion-card class="form-card">
      <ion-card-header>
        <ion-card-title>Perfil del Estudiante</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="stacked">Nombre de Usuario</ion-label>
            <ion-input type="text" [value]="userName" readonly></ion-input>
          </ion-item> <div class="button-group">
            <ion-button expand="full" (click)="volver()">Volver</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
