<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title style="color: rgb(255, 255, 255)">Bienvenido {{ nombreUsuario }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- Botón Perfil -->
      <ion-item button (click)="navigateTo('perfil')">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <!-- Botón Conductor -->
      <ion-item button (click)="navigateToConductor()">
        <ion-icon name="car-sport-outline" slot="start"></ion-icon>
        <ion-label>Conductor</ion-label>
      </ion-item>
    </ion-list>

    <div class="separar-menu"></div>

    <ion-footer>
      <ion-list>
        <!-- Botón Cerrar Sesión -->
        <ion-item button (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-footer>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <!-- Botón para abrir el menú -->
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="search-bar">
    <ion-searchbar (ionInput)="search($event, 'origin')" placeholder="Ingresa el origen"></ion-searchbar>
    <div *ngIf="addresses.length > 0" style="position: absolute; width: 100%; z-index: 999;">
      <ion-list lines="none">
        <ion-item button *ngFor="let address of addresses" (click)="onSelect(address, 'origin')">
          <ion-icon name="pin" slot="start"></ion-icon>
          {{ address }}
        </ion-item>
      </ion-list>
    </div>

    <ion-searchbar (ionInput)="search($event, 'destination')" placeholder="Ingresa el destino"></ion-searchbar>
    <div *ngIf="addresses.length > 0" style="position: absolute; width: 100%; z-index: 999;">
      <ion-list lines="none">
        <ion-item button *ngFor="let address of addresses" (click)="onSelect(address, 'destination')">
          <ion-icon name="pin" slot="start"></ion-icon>
          {{ address }}
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div id="map" class="map-container"></div>

  <!-- Botón de Ubicación Actual -->
  <div (click)="goToCurrentLocation()" class="location-btn">
    <ion-icon name="location" size="large"></ion-icon>
    <span class="location-text">Ubicación Actual</span>
  </div>
</ion-content>

<!-- Botón para iniciar el viaje -->
<ion-button *ngIf="startTripVisible" (click)="startTrip()">Iniciar Viaje</ion-button>
