

ion-card-header{

    text-align: center;
  
  }
  
  ion-title {
  
    text-align: center;
  
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/inicioimg.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: -1; 
  }
  
  ion-content {
  
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  
  
  }
  
  .login-card{
  
    max-width: 400px;
    --background: white;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  ion-item {
    --background: white;
    --color: black; 
    --placeholder-color: gray; 
    border-radius: 8px;
  }
  .custom-gray-button {
    --background: #000000bb; 
    --color: #ffffff; 
  }
  .custom-primary-button{
    --background: #000000bb; 
  --color: #ffffff;
    
  }
  .background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  ion-button.eye-button {
    position: absolute;
    right: 0;             
    top: 90%;              
    transform: translateY(-10%); 
    font-size: 1.5rem;     
    --padding-start: 0px;  
    --padding-end: 0px;    
    
  }
  ion-item {
    display: flex;
    align-items: center; 
  }
  
  ion-input {
    flex: 1; 
  }
  
  ion-icon {
    font-size: 1.5rem;    
  }
  ion-card-title.custom-title {

    color:#000000;

  }

  .center-buttons {

    text-align: center;
  }

  ion-button{
    width: var(--buton-width);
    height: 40px;
    display: inline-block;
    margin: 0 10px;


  }
  .avatar-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
    overflow: hidden;
  }
  
  ion-avatar {
    animation: slide 2s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(100% - 80px)); 
    }
  }

.restablecer {

  font-size: 0.6rem;
  margin: 0;
  text-align: left;
  text-decoration: underline;
  --color: var(--ion-color-primary);
  --padding-start:0;
  --padding-end:0;
}
  