<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title style="color: rgb(0, 0, 0)">Datos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button (click)="navigateTo('perfil')">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        Perfil
      </ion-button>
    </ion-list>
    <div class="separar-menu"></div>
    <ion-footer>
      <ion-list>
        <ion-button (click)="logout()">Cerrar Sesion</ion-button>
      </ion-list>
    </ion-footer>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">

    <ion-searchbar (ionInput)="search($event, 'destination')" placeholder="Ingresa el destino"></ion-searchbar>
    <div *ngIf="addresses.length > 0" style="position: absolute; width: 100%; z-index: 999;">
      <ion-list lines="none">
        <ion-item button *ngFor="let address of addresses" (click)="onSelect(address, 'destination')">
          <ion-icon name="pin" slot="start"></ion-icon>
          {{ address }}
        </ion-item>
      </ion-list>
  </div>

  <div id="map" style="width: 100%; height: 100%;"></div>


  <!-- Botón de Ubicación Actual -->
  <div (click)="goToCurrentLocation()" class="location-btn">
    <ion-icon name="location" size="large"></ion-icon>
    <span class="location-text">Ubicación Actual</span>
  </div>

</ion-content>
<ion-button *ngIf="startTripVisible" (click)="startTrip()">Iniciar Viaje</ion-button>
