<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Datos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="navigateTo('perfil')">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        Perfil
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-button expand="block" (click)="logout()">Cerrar Sesión</ion-button>
    </ion-footer>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" style="display: flex; flex-direction: column; height: 100vh;">
  <div class="search-bar" style="z-index: 1000; position: absolute; top: 10px; width: 100%;">
    <!-- Barra de búsqueda de origen -->
    <ion-searchbar
      (ionInput)="search($event, 'origin')"
      placeholder="Ingresa la dirección de origen"
    ></ion-searchbar>
    <ion-list *ngIf="addresses.length > 0" style="position: absolute; width: 100%; z-index: 999;">
      <ion-item
        button
        *ngFor="let address of addresses"
        (click)="onSelect(address, 'origin')"
      >
        <ion-icon name="pin" slot="start"></ion-icon>
        {{ address.text }}
      </ion-item>
    </ion-list>

    <!-- Barra de búsqueda de destino -->
    <ion-searchbar
      (ionInput)="search($event, 'destination')"
      placeholder="Ingresa el destino"
    ></ion-searchbar>
    <ion-list *ngIf="addresses.length > 0" style="position: absolute; width: 100%; z-index: 999;">
      <ion-item
        button
        *ngFor="let address of addresses"
        (click)="onSelect(address, 'destination')"
      >
        <ion-icon name="pin" slot="start"></ion-icon>
        {{ address.text }}
      </ion-item>
    </ion-list>
  </div>

 
  <div id="map" style="width: 100%; height: 100%;"></div>


  <!-- Botón de iniciar viaje -->
  <ion-button
    *ngIf="startTripVisible"
    (click)="startTrip()"
    expand="full"
    color="primary"
    style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 999;"
  >
    Iniciar Viaje
  </ion-button>
</ion-content>
